.signinBanner {
    width: fit-content;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin: 50px auto 70px auto;
    padding: 21px 18px;
    border-radius: 43px 0 43px 0;
}

.signinBanner h3 {
    font-size: 30px;

}

.signinBanner p {
    font-size: 20px;
    width: 71%;
    text-align: center;
    font-weight: 400;

}

.signinBanner a {
    background: #0074d3;
    padding: 9px 30px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}




@media screen and (max-width: 640px) {
    .signinBanner {
        width: 75vw;
    }

    .summuryContainer {
        width: 96vw;
    }

    .signinBanner h3 {
        text-align: center;
        font-size: 22px;
    }

    .signinBanner p {
        display: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 1320px) {


    .summuryContainer {
        width: 96vw;
    }

    .summuryContainer p {
        width: 100% !important;
    }
}