.signinBanner {
    width: 1300px;
    height: 350px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin: 100px auto;

}

.signinBanner h3 {
    font-size: 30px;

}

.signinBanner p {
    font-size: 20px;
    width: 71%;
    text-align: center;
    font-weight: 400;

}

.signinBanner a {
    background: #d39100;
    padding: 9px 30px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}




@media screen and (max-width: 640px) {
    .signinBanner {
        width: 96vw;
    }

    .summuryContainer {
        width: 96vw;
    }

    .summuryContainer p {
        width: 100% !important;
        text-align: center;
    }

    .signinBanner h3 {
        text-align: center;
    }

    .signinBanner p {
        display: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 1320px) {
    .signinBanner {
        width: 96vw;
    }

    .summuryContainer {
        width: 96vw;
    }

    .summuryContainer p {
        width: 100% !important;
    }
}