.banner {
    height: 100vh;
}


/* paralax container */
.react-parallax {
    height: 100% !important;
}

.react-parallax img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

/* paralax content box */
.react-parallax-content {
    height: 100%;
    width: 100%;
}

.react-parallax-content .bannerContent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d161e73;
}

.react-parallax-content .bannerContent button {
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    padding: 12px 15px;
    font-size: 21px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 700;
    transition: 0.5s;

}

.react-parallax-content .bannerContent button:hover {
    box-shadow: inset 150px 0 black;
    border: 3px solid rgb(0, 0, 0);
    padding: 12px 15px;
    font-size: 21px;
    color: rgb(255, 255, 255);

}