.footerV1 {
    background-color: #070a0e;
    padding: 40px 0 0 0;
}


.footerTop {
    display: grid;
    grid-template-columns: 258px 500px 382px;
    width: 95%;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
    color: white;
    padding: 0 0 50px 0;
}

.footerlinks {
    margin: 13px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    gap: 20px;
    flex-direction: column;
}

.footerlinks h1 {
    color: #ffffff;
}


.footerlinks a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    color: white;

}

.footerlinks a:hover {
    text-decoration: underline;
}


.conactInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    gap: 20px;
    margin: 13px 0 0 0;
    flex-direction: column;
}

.conactInfo>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    gap: 20px;
}

.conactInfo>div .contactIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0074d3;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    ;
}

.conactInfo>div .contactInfo {
    display: flex;
    width: 450px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.conactInfo>div a {
    color: white;
}

.conactInfo>div a:hover {

    color: white;
    text-decoration: underline;

}


.footerV1 .contactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: fit-content;
}

.footerV1 .contactForm img {
    width: 160px;
}

.footerV1 .contactForm input {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    width: 362px;
    padding: 8px 9px;
    color: white;

}

.footerV1 .contactForm textarea {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    width: 362px;
    padding: 8px 9px;
    resize: vertical;
    min-height: 100px !important;

    color: white;
}

.footerV1 .contactForm button {
    background: white;
    color: black;
    border: 1px solid white;
    padding: 4px 16px;
    cursor: pointer;
    transition: 0.3s;
}

.footerV1 .contactForm button:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}





.footerBottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1622;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footerBottom span {
    color: #d39100;
}





@media screen and (min-width: 450px) and (max-width: 620px) {

    .footerTop {
        width: 95%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 50px;
    }

    .footerlinks {
        width: 100%;
        margin: auto;

    }

    .footerlinks h1 {
        font-size: 20px;
    }

    .conactInfo h1 {
        font-size: 20px;
    }


    .conactInfo>div {
        font-size: 14px;
        width: 314px;
    }

    .footerV1 .contactForm {
        width: 100%;
        margin: auto;

    }

    .conactInfo {
        width: 100%;
        margin: auto;
    }

    .footerV1 .contactForm img {
        width: 145px;
    }

    .footerV1 .contactForm input {
        width: 96%;
    }

    .footerV1 .contactForm textarea {
        width: 96%;
    }
}

@media screen and (min-width: 620px) and (max-width: 975px) {

    .footerTop {
        width: 95%;
        grid-template-columns: 161px 314px;
        grid-template-rows: auto auto;
    }

    .footerlinks h1 {
        font-size: 20px;
    }

    .conactInfo h1 {
        font-size: 20px;
    }

    .conactInfo>div {
        font-size: 14px;
        width: 314px;
    }

    .footerV1 .contactForm {
        width: 100%;
        grid-column: span 2;
    }

    .footerV1 .contactForm img {
        width: 145px;
    }

    .footerV1 .contactForm input {
        width: 96%;
    }

    .footerV1 .contactForm textarea {
        width: 96%;
    }
}



@media screen and (min-width: 975px) and (max-width: 1270px) {

    .footerTop {
        width: 95%;
        grid-template-columns: 161px 314px 310px;
    }

    .footerlinks h1 {
        font-size: 20px;
    }

    .conactInfo h1 {
        font-size: 20px;
    }

    .conactInfo>div {
        font-size: 14px;
        width: 314px;
    }

    .footerV1 .contactForm img {
        width: 145px;
    }

    .footerV1 .contactForm input {
        width: 290px;
    }

    .footerV1 .contactForm textarea {
        width: 290px;
    }
}

@media screen and (max-width: 450px) {
    .footerV1 {
        display: none;
    }
}