.bannerV2 {
    background-image: url("https://i.ibb.co/DpbRTZ8/web-cover-final.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100svh - 138px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #161b21;
    position: relative;
}


.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    left: 67px;
    gap: 20px;
    overflow: hidden;
}


.typography {
    position: absolute;
    font-size: 85px;
    transform: rotate(270deg);
    color: white;
    right: -265px;
    top: 286px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    animation: typography linear;
    animation-timeline: scroll();
}



.bannerV2 h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: white;
    transition: 0.4s;
}


.bannerV2 h1:hover {
    color: transparent;
    -webkit-text-stroke: 1px white;
}






.bannerV2 a {
    border: 1px solid white;
    color: white;
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    font-weight: 200;
    transition: 0.3s;
}


.bannerV2 a:hover .arrow {
    right: -10px;
}

.bannerV2 a:hover {
    background: white;
    color: rgb(0, 0, 0);
}




.arrow {
    font-weight: 300;
    transition: 0.6s;
    position: relative;
    right: 0;
}




.bannerBottom {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.bannerBottom h2 {
    color: white;
    font-size: 20px;
}

.bannerBottom p {
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    line-height: 1.5;
}




@media screen and (max-width: 460px) {
    .bannerV2 {
        background-position: -177px 0;
    }

    .bannerV2 h1 {
        font-size: 30px;
    }

    .content {
        left: 20px;
    }

    .bannerV2 h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 460px) and (max-width: 645px) {
    .bannerV2 {
        background-position: -177px 0;
    }

    .bannerV2 h1 {
        font-size: 30px;
    }

    .content {
        left: 20px;
    }

    .bannerV2 h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    .typography {
        display: none;
    }
}